* {
	font-size: 20px;
}

html {
	background: url('https://wallbox.ru/resize/800x480/wallpapers/main/201134/2560h1600-tekstura-oboi-e710001.jpg') repeat-x #ddeea5 center top;
}

#header {color: red}

h3.style {color: yellow}

p i {
	color: #ca5597
}

p.example, b {
		font-size: 30px;
		font-weight: normal;
}

p#example:first-letter {
	
}

.href {
	color: #5f1a1a;
	text-decoration: overline
}

.href:hover {
	color: #1d5e19;
	background-color: red;
}

